$FixedH:45px;
$CommonTitleH:55px;


$FirstTitleColor:'red';
$SecondTitleColor:'yellow';
$ThirdTitleColor:'green';

$ThemeBC:rgba(45, 140, 240, 1);
$PageBC:rgba(45, 140, 240, 1);

$TitleTwoCol:#333333;
$TitleHoverCol:#F59A23;
$WordShowCol:#2D8CF0;
