.TeamYearKRDetailWrap {
  background-color: rgba(245, 247, 249, 1);
  box-sizing: border-box;
  height: calc(100vh);


  .topNav {
    display: flex;
    justify-content: space-between;
    height: 45px;
    line-height: 45px;
    padding: 0px 10px;
    border-bottom: 1px solid #ccc;

    .title {
      margin-left: 20px;
      font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
    }
  }

  .yearRelative {
    // height: 140px;
    margin: 10px 20px 10px 45px;
    background-color: rgba(255, 255, 255, 1);

    .title {
      padding-top: 20px;
      margin: 0px 0px 0px 0px;
      display: flex;
      justify-content: space-around;
      font-family: '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      color: #000000;


    }

    .content {
      // height: 70px;
      // line-height: 70px;
      display: flex;
      justify-content: space-around;
      margin: 0px 0px 0px 0px;
    }

    .subtitle_55 {
      width: 70%;
      // background: red;
    }

    .yearKRTop {
      width: 10%;
      // background: pink;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .finishTop {
      width: 10%;
      // background: pink;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .adminTop {
      width: 10%;
      // background: pink;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .small_ad_15 {
      font-family: '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      color: #000000;
    }

    .mr_third {
      padding-left: 50px;
      padding-bottom: 16px;
      // background: pink;
    }

    .subtitle_third {
      display: inline-block;
      width: 82px;
      margin-left: 20px;
      // background: burlywood;
    }

    .small_fas_15 {
      padding-left: 64px;
      font-style: normal;
      font-size: 10px;
      color: #aaaaaa;
      line-height: 20px;

      &:first-child {
        margin-top: 10px;
      }
    }

    .small_finish_15 {
      box-sizing: border-box;
      // padding-right: 30px;
      // background: yellowgreen;
    }
  }

  .reasonKRDetailClaWrap {
    // background: pink;
    margin: 0px 20px 0px 45px;

    .reasonKRDetailTitle {
      margin: 0px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
      // padding: 0px 33px;
      height: 50px;
      line-height: 50px;
      // background: pink;
      background-color: rgba(255, 255, 255, 1);
      border-bottom: 1px solid #ccc;

      .headOne {
        box-sizing: border-box;
        padding-left: 22px;
        width: 90%;
        text-align: left;
        // background: yellowgreen;
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        color: #000000;
      }

      .headRight {
        box-sizing: border-box;
        padding-right: 20px;
        text-align: right;
        // background: yellow;
        cursor: pointer;
        width: 10%;
        font-family: 'Arial Normal', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        letter-spacing: normal;
        color: #333333;
      }
    }

    // 季度KR详情内容部分
    .detailContentWrap {
      display: block;
      box-sizing: border-box;
      // padding-bottom: 0px;
    }

    .detailContentWrapHide {
      display: none;
      // box-sizing: border-box;
      // padding-bottom: 0px;
    }

    .reasonTitle {
      box-sizing: border-box;
      margin: 0px 0px 0px 0px;
      // background: yellowgreen;
      background: rgba(255, 255, 255, 1);
      display: flex;
      justify-content: space-around;
      // background: pink;
      // padding: 0px 33px;
      height: 45px;
      line-height: 45px;
      font-family: '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      color: #000000;
      // border-bottom: 1px solid #ccc;

      .headTwo {
        box-sizing: border-box;
        margin-left: 55px;
        width: calc(70% - 55px);
        // width: 70%;
        border-bottom: 1px solid #ccc;

        // background: yellowgreen;
        .blueDot {
          display: inline-block;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          margin-right: 5px;
          // background: inherit;
          background-color: rgba(45, 140, 240, 1);
        }
      }

      .reasonWeight {
        width: 10%;
        border-bottom: 1px solid #ccc;
      }

      .reasonFinish {
        width: 10%;
        border-bottom: 1px solid #ccc;
      }

      .action {
        box-sizing: border-box;
        width: calc(10% - 0px);
        margin-right: 0px;
        display: flex;
        justify-content: flex-end;
        // background: red;
        cursor: pointer;
        border-bottom: 1px solid #ccc;

        .headTwoRight {
          // margin-left: 30px;
          // background: pink;
          text-align: left;
          padding-right: 20px;
          padding-left: 20px;
          cursor: pointer;
        }
      }
    }

    .reasonContentShow {
      display: block;
      // margin: 0px 0px 0px;
      margin-bottom: 5px;
      // background: red;
      background: rgba(255, 255, 255, 1);
      // background: pink;
    }

    .reasonContentHide {
      display: none;
    }

    .KRContentWrap {
      display: flex;
      justify-content: space-around;
      // background: burlywood;
      // padding: 10px 0px;
      box-sizing: border-box;

      // border-bottom: 1px solid #ccc;
      .KR {
        box-sizing: border-box;
        // width: 70%;
        margin-left: 85px;
        padding: 10px 0px;
        width: calc(70% - 85px);
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // background: pink;
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #555555;
        cursor: pointer;

        &:hover {
          color: #f59a23;
        }

        .innerTitle {
          display: inline-block;
          width: 40px;
          // background: pink;
        }

        .connectTeam {
          padding-left: 40px;
          // background: yellowgreen;
          font-style: normal;
          font-size: 10px;
          color: #aaaaaa;
        }
      }

      .small_15 {
        box-sizing: border-box;
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #ccc;
        // background: yellowgreen;
      }

      .none_word {
        box-sizing: border-box;
        width: calc(10% - 20px);
        // text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        border-bottom: 1px solid #ccc;
      }
    }

    .addKRBtn {
      box-sizing: border-box;
      padding: 15px 90px 20px 85px;
      cursor: pointer;
      font-family: '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
      color: #aaaaaa;

      &:hover {
        color: rgba(45, 140, 240, 1);
      }
    }

    .addObjBtnWrap {
      padding: 0px 20px 0px 45px;
      cursor: pointer;
      margin-top: 2px;
      margin-bottom: 15px;
      height: 35px;
      line-height: 35px;
      font-family: '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: #7F7F7F;
      background-color: rgba(255, 255, 255, 1);

      // background: yellow;
      &:hover {
        color: #f59a23;
      }

      .KRword {
        margin-left: 10px;
      }
    }
  }


  // 个人年度KR与团队年度KR关联关系
  .personTeamYearKRConnectClaWrap {
    // background: pink;
    margin: 0px 20px 0px 45px;

    .reasonKRDetailTitle {
      margin: 0px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
      // padding: 0px 33px;
      height: 50px;
      line-height: 50px;
      // background: pink;
      background-color: rgba(255, 255, 255, 1);
      border-bottom: 1px solid #ccc;

      .headOne {
        box-sizing: border-box;
        padding-left: 20px;
        width: 90%;
        text-align: left;
        // background: yellowgreen;
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        color: #000000;
      }

      .headRight {
        box-sizing: border-box;
        padding-right: 20px;
        text-align: center;
        // background: yellow;
        cursor: pointer;
        width: 10%;
        font-family: 'Arial Normal', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        letter-spacing: normal;
        color: #333333;
      }
    }

    // 季度KR详情内容部分
    .detailContentWrap {
      display: block;
      box-sizing: border-box;
      // padding-bottom: 0px;
      padding-bottom: 15px;
      background: rgba(255, 255, 255, 1);
    }

    .detailContentWrapHide {
      display: none;
    }

    .reasonTitle {
      box-sizing: border-box;
      margin: 0px 0px 0px 0px;
      // background: yellowgreen;
      background: rgba(255, 255, 255, 1);
      display: flex;
      justify-content: space-around;
      // background: pink;
      // padding: 0px 33px;
      height: 45px;
      line-height: 45px;
      font-family: '微软雅黑';
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      color: #000000;
      // border-bottom: 1px solid #ccc;

      .headTwo {
        box-sizing: border-box;
        margin-left: 67px;
        width: calc(70% - 67px);
        // width: 70%;
        border-bottom: 1px solid #ccc;

        // background: yellowgreen;
        .blueDot {
          display: inline-block;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          margin-right: 5px;
          // background: inherit;
          background-color: rgba(45, 140, 240, 1);
        }
      }

      .reasonWeight {
        width: 10%;
        border-bottom: 1px solid #ccc;
      }

      .reasonFinish {
        width: 10%;
        border-bottom: 1px solid #ccc;
      }

      .action {
        box-sizing: border-box;
        width: calc(10% - 40px);
        margin-right: 40px;
        display: flex;
        justify-content: flex-end;
        // background: red;
        cursor: pointer;
        border-bottom: 1px solid #ccc;

        .headTwoRight {

          cursor: pointer;

          box-sizing: border-box;
          padding-right: 20px;
          text-align: center;
        }
      }
    }

    .reasonContentConnectShow {
      display: block;
      // margin-bottom: 5px;
      background: rgba(255, 255, 255, 1);
      // background: pink;
    }

    .reasonContentHide {
      display: none;
    }

    .KRContentWrap {
      // background: yellow;
      // height: 200px;

      .PersonYearKRTitle {
        display: flex;
        justify-content: space-around;
        // background: burlywood;
        // padding: 10px 0px;
        box-sizing: border-box;

        .KR {
          box-sizing: border-box;
          // width: 70%;
          margin-left: 100px;
          padding: 10px 0px;
          width: calc(70% - 100px);
          // border-bottom: 1px solid #ccc;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          // background: pink;
          font-family: '微软雅黑';
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #555555;

          .innerTitle {
            display: inline-block;
            width: 97px;
            // background: pink;
          }

          .connectTeam {
            padding-left: 40px;
            // background: yellowgreen;
            font-style: normal;
            font-size: 10px;
            color: #aaaaaa;
          }
        }

        .small_15 {
          box-sizing: border-box;
          width: 10%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          // border-bottom: 1px solid #ccc;
          // background: yellowgreen;
        }

        .none_word {
          box-sizing: border-box;
          width: calc(10%);
          // margin-right: 90px;
          text-align: center;
          // border-bottom: 1px solid #ccc;
          // background: pink;
        }
      }

      .PersonYearKRContent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // background: green;


        .personODesc {
          box-sizing: border-box;
          // width: 70%;
          margin-left: 100px;
          padding: 10px 0px;
          width: calc(70% - 100px);
          // border-bottom: 1px solid #ccc;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          // background: red;
          font-family: '微软雅黑';
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #555555;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border: none;
          }

          .innerTitle {
            display: inline-block;
            width: 97px;
            // background: pink;
          }

          .connectTeam {
            padding-left: 40px;
            // background: yellowgreen;
            font-style: normal;
            font-size: 10px;
            color: #aaaaaa;
          }
        }

        .small_15 {
          box-sizing: border-box;
          width: 10%;
          padding: 10px 0px;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border: none;
          }

          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          // border-bottom: 1px solid #ccc;
          // background: yellowgreen;
        }

        .none_word {
          box-sizing: border-box;
          width: calc(10%);
          padding: 10px 0px;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border: none;
          }

          // margin-right: 90px;
          // text-align: center;
          // border-bottom: 1px solid #ccc;
          // background: pink;
        }

      }


      // border-bottom: 1px solid #ccc;

    }


  }
}
